h2 {
  text-transform: uppercase;
  color: white;
  font-size: 4em;
  font-family: "proxima-nova", sans-serif !important;
  line-height: 60%;
  text-align: center;
  margin: 0 auto;
}
.childBlocks {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#vocalSpan {
  font-size: .6em;
  letter-spacing: 12px;
  display: block;
}
#coachSpan {
  font-size: .8em;
  display: block;
}
#pianistSpan {
  font-size: ;
}
#musicSpan {
  font-size: 1.2em;
  letter-spacing: 3px;
  display: block;
  position: relative;
}
#directorSpan {
  font-size: .5em;
  display: block;
  line-height: 40%;
  letter-spacing: 13px;
  position: relative;
}
#headshotsSpan {
  display: block;
  font-size: .7em;
  letter-spacing: 10px;
}
#photosSpan {
  font-size: 1.1em;
  display: block;
  line-height: 100%;
}
#pressSpan {
  font-size: ;
}
#heroImage {
  background: url(img/aboutHero.jpg);
  background-size: cover;
  min-height: 400px;
  max-height: 400px;
}
#heroImage h1 {
  padding: 160px;
  margin: 0 auto;
  color: red;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  color: white;
  font-size: 5em;
  letter-spacing: 17px;
  text-align: center;
}
#aboutSections {
  width: 100%;
  height: 900px;
}
#aboutSections #fullLayout {
  width: 100%;
  height: 900px;
  padding: 2px;
}
#aboutSections #fullLayout #leftColumn {
  float: left;
  width: 50%;
  height: 900px;
  background-color: #1B1419;
}
#aboutSections #fullLayout #leftColumn #performer {
  width: 100%;
  height: 50%;
  border: solid white 4px;
  background: url(img/performer1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#aboutSections #fullLayout #leftColumn #vocalCoach {
  width: 100%;
  height: 25%;
  border: solid white 4px;
  background: url(img/vocalcoach.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#aboutSections #fullLayout #leftColumn #pianist {
  width: 50%;
  height: 25%;
  border: solid white 4px;
  float: left;
  background: url(img/keys.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#aboutSections #fullLayout #leftColumn #musicDirector {
  width: 50%;
  height: 25%;
  border: solid white 4px;
  float: right;
  background: url(img/sheetmusic.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#aboutSections #fullLayout #rightColumn {
  float: right;
  width: 50%;
  height: 900px;
  background-color: #1B1419;
}
#aboutSections #fullLayout #rightColumn #headshots {
  width: 100%;
  height: 25%;
  border: solid white 4px;
  background: url(img/chrisheadshot2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#aboutSections #fullLayout #rightColumn #bio {
  width: 100%;
  height: 50%;
  border: solid white 4px;
  background: url(img/kidchris.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#aboutSections #fullLayout #rightColumn #press {
  width: 100%;
  height: 25%;
  border: solid white 4px;
  background: url(img/chrisChristmas.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
/********************************************************MEDIA QUERIES******************************************************/
@media (max-width: 1180px) and (min-width: 1025px) {
  #musicSpan {
    font-size: .8em;
    letter-spacing: 7px;
  }
  #directorSpan {
    font-size: .3em;
    letter-spacing: 10px;
  }
}
@media (max-width: 1025px) and (min-width: 768px) {
  #aboutSections #fullLayout {
    height: auto;
    padding: 2px;
  }
  #aboutSections #fullLayout #leftColumn {
    float: none;
    width: 100%;
    height: auto;
  }
  #aboutSections #fullLayout #leftColumn #performer {
    width: 100%;
    height: 300px;
  }
  #aboutSections #fullLayout #leftColumn #vocalCoach {
    float: left;
    width: 50%;
    height: 300px;
  }
  #aboutSections #fullLayout #leftColumn #pianist {
    float: right;
    width: 50%;
    height: 300px;
  }
  #aboutSections #fullLayout #leftColumn #musicDirector {
    width: 100%;
    height: 300px;
    clear: both;
  }
  #aboutSections #fullLayout #rightColumn {
    float: none;
    width: 100%;
    height: auto;
  }
  #aboutSections #fullLayout #rightColumn #headshots {
    width: 50%;
    height: 300px;
    float: left;
  }
  #aboutSections #fullLayout #rightColumn #bio {
    float: right;
    width: 50%;
    height: 300px;
  }
  #aboutSections #fullLayout #rightColumn #press {
    width: 100%;
    height: 300px;
    clear: both;
  }
}
@media (max-width: 768px) and (min-width: 480px) {
  #aboutSections {
    width: 100%;
    height: 900px;
  }
  #aboutSections #fullLayout {
    width: 100%;
    height: auto;
    padding: 2px;
  }
  #aboutSections #fullLayout #leftColumn {
    float: none;
    width: 100%;
    height: auto;
  }
  #aboutSections #fullLayout #leftColumn #performer {
    width: 100%;
    height: 250px;
  }
  #aboutSections #fullLayout #leftColumn #vocalCoach {
    float: none;
    width: 100%;
    height: 250px;
  }
  #aboutSections #fullLayout #leftColumn #pianist {
    float: none;
    width: 100%;
    height: 250px;
  }
  #aboutSections #fullLayout #leftColumn #musicDirector {
    width: 100%;
    height: 250px;
    clear: both;
  }
  #aboutSections #fullLayout #rightColumn {
    float: none;
    width: 100%;
    height: auto;
  }
  #aboutSections #fullLayout #rightColumn #headshots {
    width: 100%;
    height: 250px;
    float: left;
  }
  #aboutSections #fullLayout #rightColumn #bio {
    float: right;
    width: 100%;
    height: 250px;
  }
  #aboutSections #fullLayout #rightColumn #press {
    width: 100%;
    height: 250px;
    clear: both;
  }
}
